*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:80%;
    margin: 0  auto;
}
/* header */
header{
    height: 100px;
    background-color: #e579e6;
    margin:15px 0;
}
/* section 1 */
.prima{
    height: 300px;
    background-color: #e1d67a;
    margin-bottom: 15px;
}
/* section 2 */
.seconda{
    height: 500px;
    background-color:#3387fd;
    margin-bottom: 5px;

}
.top{
    height: 80px;
    background-color: #abcfe7;
}
.col{
    height: 390px;
    margin: 15px 0;
    background-color:#abcfe7 ;
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
.left,
.right{
width: 20%;
}
.middle{
    width:56%;
    margin:15px 2%;
}
/* footer */
footer{
    height: 60px;
    background-color: #8800fe;
    margin-bottom: 15px;
}